<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.module.biz.dal.mysql.statistics.StatisticsMapper">

    <resultMap id="StatisticsDOMap" type="com.lz.module.biz.dal.dataobject.statistics.StatisticsDO">
        <result property="name" column="name"/>
        <result property="value" column="value" typeHandler="org.apache.ibatis.type.FloatTypeHandler"/>
    </resultMap>

    <select id="paymentStatistics" resultMap="StatisticsDOMap">
        SELECT SUM(payment_amount) AS value,
        DATE_FORMAT(payment_time, #{format}) AS name
        FROM biz_payment_order
        <where>
            and deleted = false
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                AND payment_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        GROUP BY name
        ORDER BY name;
    </select>
    <select id="receiptStatistics" resultMap="StatisticsDOMap">
        SELECT SUM(receipt_amount) AS value,
        DATE_FORMAT(receipt_date, #{format}) AS name
        FROM biz_receipt_order
        <where>
            and deleted = false
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                AND receipt_date BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        GROUP BY name
        ORDER BY name;
    </select>
    <select id="salaryStatistics" resultMap="StatisticsDOMap">
        SELECT SUM(payable_amount) AS value,
        DATE_FORMAT(settlement_time, #{format}) AS name
        FROM biz_salary
        <where>
            and deleted = false
            <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                AND settlement_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        GROUP BY name
        ORDER BY name;
    </select>
</mapper>
